# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks
# Uncomment if you want to exclude VS Code settings
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.cocoapods/
.cocoapods-bin/
.cocoapods-lock/
.flutter-plugins
.dart_tool/
.macos/
.swiftpm/xcode/
.swiftpm/config/

# Build output directories
/build/
*.log
.idea/
